* {
  margin: 0;
  padding: 0.25 rem;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: darkolivegreen;
  display: grid;
  /*place-content: center;*/
}

button {
  font-size: 2rem;
}

.menu {
  display: inline;
}

/* STYLE NAVBAR */

.nav-item {
  margin-left: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

/* STYLE DES COMPOSANTS */

/* conteneur principal */
.viewer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 25px;
}

.content {
  width: 100%;
}

/* éléments du conteneur */
.etape {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.sous-titre {
  margin-top: 50px;
  margin-bottom: 15px;
}

.code {
  margin: 0 2rem;
  margin-bottom: 30px;
  padding: 0.2rem 2rem;
  color: grey;
  font-weight: 700;
  font-weight: 700;
  background-color: rgba(128, 128, 0, 0.11);
  /* max-width: 80%; */
  word-wrap: break-word;
}

.code_expl {
  margin: 0 2rem;
  margin-top: -10px;
  margin-bottom: 30px;
  padding: 0.2rem 2rem;
  color: rgb(146, 146, 33);
}

.hero {
  background-color: whitesmoke;
  color: rgb(12, 90, 47);
  text-shadow: 3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff,
    -3px 3px 0 #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  height: 100vh;
  background-image: url("assets/projet/tux_logo_bg.svg"); /* Remplacez par le chemin de votre image */
  background-attachment: fixed; /* Rend le fond d'écran fixe */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: cover; /* Redimensionne l'image pour couvrir tout l'écran */
}

.intro_hero {
  font-size: 2em;
}
