* {
  margin: 0;
  padding: 0.25 rem;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: darkolivegreen;
  /*display: grid;*/
  /*place-content: center;*/
}

button {
  font-size: 2rem;
}

.menu {
  display: inline;
}
